<h2 class = "brand">Recent Projects<h2>
<ul class = "nav pull-right">
  <li class="show_hide"><%= link_to "New Project", "#" %> </li>
  <% if @account.costbooks.count == 0 %>
    <li><%= link_to "Costbooks", new_account_costbook_path(@account) %></li>
  <% end %>
  <%= @account.costbooks.count %>
</ul>
