<div class="row">
  <div class="span12">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'costbooknavigation' %>
        </div>
      </nav>
    </header>
    <% if @costbooks.nil? %>
      <h3>Create your first Costbook.</h3>
    <%else %>

      <% @costbooks.each do |costbook| %>
        <h3><%= costbook.name %> Costbook
          <span><%= link_to "<i class='icon-edit'></i>".html_safe, "#", :controller => :costbooks, :method => :edit %>
          <%= link_to "<i class='icon-remove'></i>".html_safe, "#", :confirm => "Are you sure?", :controller => :costbooks, :method => :delete %>
        </span>
        </h3>
        <hr/>
      <% end %>
    <% end -%>
  </div>
</div>