<div class="home">
  <div class="hero-unit center">
    <h1>Construction Projects Made Easier with Tract.</h1>
    <h3 class="well">Orgnanize all your project data in one central location</h3>
  </div>

  <div class="row">
    <div class="info_frame">
      <div class="span4 well">
        <h3>Manage</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. </p>
      </div>
      <div class="span3 well">
        <h3>Organize</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. </p>
      </div>
      <div class="span3 well">
        <h3>Perform</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      </div>
    </div><!-- end info_frame-->
  </div><!-- end content -->

  <h2>Tract is the top choice for contractors to organize information, prepare projects for bid, and keep track of previous projects.</h2>

</div><!-- end home -->