// Place all the styles related to the Costbooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slidingDiv {
 
    padding:10px;
    margin-top:10px;
    border-bottom:5px solid #ccc;
}
 
.show_hide {
    display:none;
}
