
<h2>Thanks for registering!</h2>

<p><%= link_to "Click Here to Login!", login_path %></p>
<p>
  <b>Account Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Account Level:</b>
  <%= @account.level %>
</p>

<p>
  <b>Account Owner:</b>
  <%= @account.owner %>
</p>

